__RESULTS__/*
__pycache__/*
_Algorithm/__pycache__/*
_HarrisCorner/__pycache__/*
_SensorModule/__pycache__/*
.DS_Store
.vscode/
sensor_venv/
__pycache__/
*.pyc
*.pyo
*.pyd
nohup.out
# Python
__pycache__/
*.pyc

# PyPI
dist/
build/
*.egg-info/
*.manifest

# Experiments
tmp/
\!automated_experiment/
\!manual_experiment/
.ipynb_checkpoints/

# Data
*.xlsx
*.pdf
.csv


__MAPS__/*
!__MAPS__/gangjin/
!__MAPS__/sejong/
!__MAPS__/seocho/