__RESULTS__/
__pycache__/
_Algorithm/__pycache__/
_HarrisCorner/__pycache__/
_SensorModule/__pycache__/
.DS_Store
sensor_venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Python
__pycache__/
*.pyc

# PyPI
dist/
build/
*.egg-info/
*.manifest

# Experiments
tmp/
# 
# Jupyter notebook
# *.ipynb
.ipynb_checkpoints/

# Data
# *.xlsx
# *.pdf
# *.sql
# *.json
# *.dill
# *.pk
# *.bin
# *.html
# *.png
# *.csv
# *.h5