
services:
  python-app:
    image: sensor_optimizer_image
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sensor_optimizer_container
    working_dir: /workspace
    volumes:
      - .:/workspace
    stdin_open: true
    tty: true
    shm_size: "64g"

    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all


    command: bash
